body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navigation_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  background-color: turquoise;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

#navigation_link {
  padding-left: 10px;
  padding-right: 10px;
}

#body_content {
  display: flex;
  flex-direction: row;
}

#left_column {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  background-color: turquoise;
}

#center_column {
  width: 60%;
  padding-left: 10px;
  padding-right: 10px;
}

#right_column {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  background-color: turquoise;
}

#map {
  align: middle;
}
